body {
    background-color: #fcfcfc;
}

body {
    text-align: center;
}

#wrapper {
    margin-top: 50px;
    display: inline-block;
}

#type-select {
    display: block;
    margin: auto;
    font-size: 1.2em;
}

#join-label {
    font-size: 1.2em;
}

#join-input {
    font-size: 1.2em;
    width: 120px;
    margin: 20px 0;
}

#submit-button {
    display: block;
    margin: auto;
    height: 40px;
    width: 100px;
    font-size: 1.0em;
    border: none;
    background: lightskyblue;
    border-radius: 5px;
    color: white;
}

#submit-button:active {
    background: lightblue;
}

#submit-button:focus {
    outline: none;
}

#result-container {
    margin-top: 60px;
    text-align: left;
}

#result-container .item {
    margin-bottom: 30px;
}

#result-container .label {
    display: inline-block;
    margin: 0;
}

#result-container .item div {
    font-weight: bold;
    padding-left: 160px;
    text-align: right;
}